.links {
    color: 
}

body {
    background-color: #302A29;
    color: #1C65B8;
    font-family: sans-serif;
}
.buttons {
    display: flex;
    gap: 0.75rem;
}

.buttons button {
    background-color: #4F444D;
    color: #D41CCE;
    border: 1px solid #171315;
}